/*1. Mpangilio wa maandishi*/
.kushoto{
    text-align: left;
}
.kulia{
    text-align: right;
}
.katikati{
    text-align: center;
}

/*2. Rangi*/

.nyeupe{
    color: white;
}
.nyeusi{
    color: black;
}
.nyekundu{
    color: red;
}
.kijani{
    color: green;
}
.njano{
    color: yellow;
}
.bluu{
    color: blue;
}
.kijivu{
    color: gray;
}
.bluu-nyeusi{
    color: darkblue;
}
.machungwa{
    color: #ffa500;
}
.zambarau{
    color: #800080;
}
.kahawia{
    color: #a52a2a;
}
.pinki{
    color: pink;
}
.damu-mzee{
    color: #a00000;
}
.bluu-anga{
    color: skyblue;
}
.dhahabu{
    color: #ffd700;
}
.kijani-kibichi{
    color: #00ff00;
}
.machungwa-2{
    color: #ff7f00;
}
.pinki-waridi{
    color: #fbc0d7;
}
.kahawia-udongo{
    color: #7a4f01;
}
.kijivu-fedha{
    color: #c0c0c0;
}
.maziwa{
    color: #f5f5f5;
}
.bahari{
    color: #000080;
}
.makaa{
    color: #262626;
}
.nyanya{
    color: #dc322f;
}
.zambarau-nyeusi{
    color: #480082;
}
.kijivu-chuma{
    color: #707070;
}
.karoti{
    color: #f7931e;
}
.kahawia-kahawa{
    color: #654321;
}
.kijivu-moshi{
    color: #949494;
}
.maroon{
    color: #800000;
}
.kivuli{
    color: #333333;
}
.mwezi{
    color: #f8f8f8;
}
.nyeusi{
    color: ;
}
.nyeusi{
    color: ;
}
.nyeusi{
    color: ;
}
.nyeusi{
    color: ;
}
.nyeusi{
    color: ;
}
.nyeusi{
    color: ;
}
.nyeusi{
    color: ;
}

/*Rangi ya nuuma / background-color*/
.nyuma-nyeusi{
    background-color: black;
}
.nyuma-nyeupe{
    color: white;
}
.nyuma-nyekundu{
    color: red;
}
.nyuma-kijani{
    color: green;
}
.nyuma-nyuma-njano{
    color: yellow;
}
.nyuma-bluu{
    color: blue;
}
.nyuma-kijivu{
    color: gray;
}
.nyuma-bluu-nyeusi{
    color: darkblue;
}
.nyuma-machungwa{
    color: #ffa500;
}
.nyuma-zambarau{
    color: #800080;
}
.nyuma-kahawia{
    color: #a52a2a;
}
.nyuma-pinki{
    color: pink;
}
.nyuma-damu-mzee{
    color: #a00000;
}
.nyuma-bluu-anga{
    color: skyblue;
}
.nyuma-dhahabu{
    color: #ffd700;
}
.nyuma-kijani-kibichi{
    color: #00ff00;
}
.nyuma-machungwa-2{
    color: #ff7f00;
}
.nyuma-pinki-waridi{
    color: #fbc0d7;
}
.nyuma-kahawia-udongo{
    color: #7a4f01;
}
.nyuma-kijivu-fedha{
    color: #c0c0c0;
}
.nyuma-maziwa{
    color: #f5f5f5;
}
.nyuma-bahari{
    color: #000080;
}
.nyuma-makaa{
    color: #262626;
}
.nyuma-nyanya{
    color: #dc322f;
}
.nyuma-zambarau-nyeusi{
    color: #480082;
}
.nyuma-kijivu-chuma{
    color: #707070;
}
.nyuma-karoti{
    color: #f7931e;
}
.nyuma-kahawia-kahawa{
    color: #654321;
}
.nyuma-kijivu-moshi{
    color: #949494;
}
.nyuma-maroon{
    color: #800000;
}
.nyuma-kivuli{
    color: #333333;
}
.nyuma-mwezi{
    color: #f8f8f8;
}